# secret keys
secrets.list

# OS stuff
.DS_Store

# Python
*.pyc
*.pyo

# Pytest
**/.cache

# Vim
**/*.swp
**/*.swo
/.tags
/.tags_sorted_by_file

# logs
**/*.log

# stuff
scripts/retrieve_sent_data.py

# logstash configs
logstash/config/input*.conf
logstash/config/output.conf

