# secret keys
secrets.list

# OS stuff
.DS_Store

# Python
*.pyc
*.pyo

# Pytest
**/.cache

# Vim
**/*.swp
**/*.swo
/.tags
/.tags_sorted_by_file

# logs
**/*.log
**/*.log.?

# stuff
scripts/retrieve_sent_data.py

# binaries
web/bin/

# stream configs
web/app/config/stream

# celery binaries
celerybeat-schedule
celerybeat-schedule.db


# twitter stream config

# elasticsearch data folder
elasticsearch/
