# Config defined here will override everything which is in config.py directory of root
ELASTICSEARCH_USERNAME=""
ELASTICSEARCH_PASSWORD=""
ELASTICSEARCH_HOST=''
ELASTICSEARCH_PORT=''
REDIS_HOST='localhost'
REDIS_PORT=6379
REDIS_DB=0
BASIC_AUTH_USERNAME=''
BASIC_AUTH_PASSWORD=''
CONSUMER_KEY = ''
CONSUMER_SECRET = ''
OAUTH_TOKEN = ''
OAUTH_TOKEN_SECRET = ''
LOGSTASH_CONFIG_PATH='/etc/logstash/conf.d/'
