# Basic auth
BASIC_AUTH_USERNAME=
BASIC_AUTH_PASSWORD=

# Elasticserach
ELASTICSEARCH_HOST=elasticsearch
ELASTICSEARCH_PORT=9200

# AWS (used for signed requests to ES)
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=
S3_BUCKET=

# Redis
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_DB=0

# Redis queues/namespaces
REDIS_NAMESPACE=cb
REDIS_LOGSTASH_QUEUE_KEY=logstash

# Logstash
PAUSE_LOGSTASH_ON_STARTUP=1

# Twitter
CONSUMER_KEY=
CONSUMER_SECRET=
OAUTH_TOKEN=
OAUTH_TOKEN_SECRET=

# Celery
CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/0

# Nginx
API_VIRTUALHOST=api-stg.crowdbreaks.org
KIBANA_VIRTUALHOST=kibana-stg.crowdbreaks.org
KIBANA_HOST=search-XXX.XXX.es.amazonaws.com/_plugin/kibana/

