#!/bin/sh

# Basic auth
export BASIC_AUTH_USERNAME=''
export BASIC_AUTH_PASSWORD=''

# Elasticserach
export ELASTICSEARCH_HOST='localhost'
export ELASTICSEARCH_PORT='9200'

# Twitter API keys
export CONSUMER_KEY=''
export CONSUMER_SECRET=''
export OAUTH_TOKEN=''
export OAUTH_TOKEN_SECRET=''
