amqp
atomicwrites
attrs
aws-requests-auth
billiard
blinker
boto3
botocore
celery
certifi
chardet
Click
docker
docker-pycreds
docopt
docutils
elasticsearch
Flask
Flask-Cors
gunicorn
idna
itsdangerous
Jinja2
jmespath
kombu
mandrill
MarkupSafe
more-itertools
nltk
numpy
oauthlib
pandas
patsy
pluggy
py
pybind11
PySocks
pytest
python-dateutil
pytz
redis
requests
requests-oauthlib
rollbar
rq
s3transfer
scipy
singledispatch
six
statsmodels
git+git://github.com/tweepy/tweepy@2efe385fc69385b57733f747ee62e6be12a1338b#egg=tweepy
urllib3
vine
websocket-client
Werkzeug
