boto3==1.9.82
scipy==1.2.0
aws-requests-auth==0.4.2
celery==5.2.2
docker==3.7.0
elasticsearch==6.4.0
Flask==1.0.2
gunicorn==19.9.0
mandrill==1.0.57
numpy==1.16.0
pandas==0.23.4
pytest==4.1.1
redis==3.2
requests==2.21.0
rollbar==0.14.6
statsmodels==0.9.0
urllib3==1.24.2
git+git://github.com/tweepy/tweepy@2efe385fc69385b57733f747ee62e6be12a1338b#egg=tweepy
flask-restful==0.3.7
spacy==2.2.0
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.2.0/en_core_web_sm-2.2.0.tar.gz
unidecode==1.1.1
blinker==1.4
